
@import url('../FONTS/Poppins-Thin.ttf');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background: white;
    min-height: 100vh;
    overflow: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2em;
    color: #359381;
    pointer-events: none;
}

.navegacao a{
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navegacao a:hover, 
.navegacao a.active {
    background-color: #359381;
    color: white;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#texto-principal{
    position: absolute;
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 1);
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}