
@import url('../FONTS/Poppins-Thin.ttf');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}


a{
    text-decoration: none;
    color: darkslateblue;
    border-radius: 20px;
    font-size: large;
    padding: 7px 15px;
}

h1{
    color: darkslateblue;
}

body{
    overflow-x: hidden;
    min-height: 100vh;
}


button{
    border-radius: 20px;
    background-color: white;
    border: 1px solid darkslateblue;
    color: darkslateblue;

}

a:hover, a.active{
    background-color: darkslateblue;
    color: white;
}

#cabecalho {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 100px;
}

#cabecalho nav{
    display: flex;
    justify-content: center;
    align-items: center;
}


#cabecalho ul{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25vw;
    list-style: none;
}


.titulo-site{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-site h2{
    color: darkslateblue;
    position: absolute;
}

.titulo-site img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    align-items: center;
}